# Peer-graded Assignment: Build a Regression Model in Keras

## Part A - Build a baseline model

Setup and importing librararies

In [1]:
!pip install numpy==1.21.4
!pip install pandas==1.3.4
!pip install keras==2.1.6

Requirement already satisfied: numpy==1.21.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.21.4)
Requirement already satisfied: pandas==1.3.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.4) (1.16.0)
Requirement already satisfied: keras==2.1.6 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.1.6)
Requirement already satisfied: numpy>=1.9.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.21.4)
Requirement already satisfied: scipy>=0.14 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.7.3)
Requirement already satisfied: six>=1.9.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: pyyaml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (2.8.0)

In [2]:
import pandas as pd
import numpy as np
import keras
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

### Download and clean the data

In [3]:
data = pd.read_csv('https://cocl.us/concrete_data')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Number of records and number of columns:

In [4]:
data.shape

(1030, 9)

Check and remove missing values

In [5]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Data has no missing values, we can proceed to building the model

#### Randomly Split Data into Training and Test Sets:

In [7]:
# Extract predictor and target variable
X = data.drop("Strength", axis=1)
y = data["Strength"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

#### Build the Neural Network:

In [9]:
def build_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation="relu", input_shape=(X_train.shape[1],)))
    model.add(Dense(1))
    
    # compile model
    model.compile(loss="mean_squared_error", optimizer='adam')
    return model

#### Train the Model and Evaluate 50 Times:

In [10]:
mse_errors = []  # List to store mean squared errors

for _ in range(50):
    model = build_model()
    model.fit(X_train, y_train, epochs=50, verbose=0)  # Set verbose=0 for silent training

    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mse_errors.append(mse)
    
    #randomly splitting for next iteration
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

print("Mean Squared Error:", np.mean(mse_errors))
print("Standard Deviation:", np.std(mse_errors))

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

2024-02-12 16:24:35.570873: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-02-12 16:24:35.575711: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394310000 Hz
2024-02-12 16:24:35.584503: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x561bdc7db220 executing computations on platform Host. Devices:
2024-02-12 16:24:35.584555: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-02-12 16:24:35.650063: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

Mean Squared Error: 420.927456594935
Standard Deviation: 440.34987509162085

## Part B - Normalize the data

In [11]:
#Normalizing the data by substracting the mean and dividing by the standard deviation.

X_train_norm = (X_train - X_train.mean()) / X_train.std()
X_train_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
401,1.792477,-0.842033,-0.853275,-0.934934,0.545015,0.885941,-1.326981,-0.302526
288,-0.932850,-0.842033,1.737310,-0.578668,0.230955,1.033146,0.066649,0.847751
406,-1.085082,-0.842033,1.374318,-0.850555,-1.025288,0.398645,1.548133,-0.701928
945,-1.318072,0.712067,0.749165,0.860457,0.197896,-0.738382,-0.227000,-0.302526
616,-0.045448,-0.842033,-0.853275,0.424501,-1.025288,-0.078500,1.007770,5.001532

In [12]:
#Normalizing the test data by substracting the mean and dividing by the standard deviation.
X_test_norm = (X_test - X_test.mean()) / X_test.std()
X_test_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
522,0.046854,-0.720173,1.409228,-0.078799,-0.122201,-1.699502,0.333673,0.206369
701,0.088213,1.281494,-0.830446,0.528287,-1.070083,-0.504189,-0.806759,0.733507
563,-0.711057,2.684923,-0.830446,0.234084,-1.070083,0.093467,-1.197411,-0.553329
678,0.088213,1.281494,-0.830446,0.528287,-1.070083,-0.504189,-0.806759,-0.227744
98,2.021765,0.453686,-0.830446,0.019269,0.463762,-1.565362,0.066384,-0.553329

#### Training and building model with normalized data:

In [13]:
def build_model_2():
    # create model
    model = Sequential()
    model.add(Dense(10, activation="relu", input_shape=(X_train_norm.shape[1],)))
    model.add(Dense(1))
    
    # compile model
    model.compile(loss="mean_squared_error", optimizer='adam')
    return model

In [14]:
mse_errors_norm = []

for _ in range(50):
    model2 = build_model_2()
    model2.fit(X_train_norm, y_train, epochs=50, verbose=0)

    y_pred = model.predict(X_test_norm)
    mse = mean_squared_error(y_test, y_pred)
    mse_errors_norm.append(mse)
    
    # randomly splitting for next iteration
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)
    
    # Normalizing the data by substracting the mean and dividing by the standard deviation for next iteration.

    X_train_norm = (X_train - X_train.mean()) / X_train.std()
    
    
    # Normalizing the test data by substracting the mean and dividing by the standard deviation for next iteration.
    X_test_norm = (X_test - X_test.mean()) / X_test.std()
    

print("Mean Squared Error (Normalized):", np.mean(mse_errors_norm))
print("Standard Deviation (Normalized):", np.std(mse_errors_norm))

Mean Squared Error (Normalized): 1483.4720245659698
Standard Deviation (Normalized): 2.2737367544323206e-13

In [15]:
#Comparing MSE from Part A:
print("Difference between Part A and Part B: ", np.mean(mse_errors) - np.mean(mse_errors_norm))

Difference between Part A and Part B:  -1062.544567971035

## Part C - Increase the number of epochs

In [16]:
mse_errors_100 = []

for _ in range(50):
    model3 = build_model_2()
    model3.fit(X_train_norm, y_train, epochs=100, verbose=0)  # Increase epochs to 100

    y_pred = model.predict(X_test_norm)
    mse = mean_squared_error(y_test, y_pred)
    mse_errors_100.append(mse)
    
    # randomly splitting for next iteration
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)
    
    # Normalizing the data by substracting the mean and dividing by the standard deviation for next iteration.

    X_train_norm = (X_train - X_train.mean()) / X_train.std()
    
    # Normalizing the test data by substracting the mean and dividing by the standard deviation for next iteration.
    X_test_norm = (X_test - X_test.mean()) / X_test.std()


print("Mean Squared Error (100 Epochs):", np.mean(mse_errors_100))
print("Standard Deviation (100 Epochs):", np.std(mse_errors_100))

Mean Squared Error (100 Epochs): 1483.4720245659698
Standard Deviation (100 Epochs): 2.2737367544323206e-13

In [17]:
#Comparing MSE from Part B:
print("Difference between Part B and Part C: ", np.mean(mse_errors_norm) - np.mean(mse_errors_100))

Difference between Part B and Part C:  0.0

We can see that the MSE is same for both

## Part D - Increase the number of hidden layers

In [18]:
def build_model_3():
    # create model
    model = Sequential()
    model.add(Dense(10, activation="relu", input_shape=(X_train_norm.shape[1],)))
    model.add(Dense(10, activation="relu"))  # Add second hidden layer
    model.add(Dense(10, activation="relu"))  # Add third hidden layer
    model.add(Dense(1))
    
    # compile model
    model.compile(loss="mean_squared_error", optimizer='adam')
    return model

In [19]:
mse_errors_3layer = []

for _ in range(50):
    model = build_model_3()
    model.fit(X_train_norm, y_train, epochs=100, verbose=0)

    y_pred = model.predict(X_test_norm)
    mse = mean_squared_error(y_test, y_pred)
    mse_errors_3layer.append(mse)
    
    # randomly splitting for next iteration
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)
    
    # Normalizing the data by substracting the mean and dividing by the standard deviation for next iteration.

    X_train_norm = (X_train - X_train.mean()) / X_train.std()
    
    # Normalizing the test data by substracting the mean and dividing by the standard deviation for next iteration.
    X_test_norm = (X_test - X_test.mean()) / X_test.std()
    

print("Mean Squared Error (3 Layers):", np.mean(mse_errors_3layer))
print("Standard Deviation (3 Layers):", np.std(mse_errors_3layer))

Mean Squared Error (3 Layers): 106.54008052566166
Standard Deviation (3 Layers): 22.696068386582272

In [20]:
#Comparing MSE from Part B:
print("Difference between Part B and Part D: ", np.mean(mse_errors_norm) - np.mean(mse_errors_3layer))

Difference between Part B and Part D:  1376.9319440403083

We can see that there is a big difference as compared to Part B